* {
  box-sizing: border-box;
}

body {
  background-color: #22254b;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}

.root {
  display: flex;
  flex-direction: column;
}

header {
  background-color: #373b69;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}

.search {
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid #22254b;
  border-radius: 50px;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
}

.search-active {
  outline: none;
}

.movie {
  background-color: #373b69;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  position: relative;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie img {
  max-width: 100%;
}

.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movie-info h3 {
  margin: 0;
}

.movie-over {
  background-color: #fff;
  position: absolute;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 1rem;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  right: 0;
  color: #22254b;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  max-height: 102%;
}

.movie:hover .movie-over {
  transform: translateY(0%);
}

.tag {
  color: #22254b;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
}

.tag.green {
  color: green;
}

.tag.red {
  color: red;
}

.tag.orange {
  color: orange;
}
